*{
    margin: 0;
    padding: 0;

}
.inoutContainer{
    display: flex;
    justify-content:center;
    
    align-items: center;
    
   
}
.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 250px;
}